<section class="subscribe card text-center pt-4 my-md-5 pt-md-5">
  <div class="container">
    <h1>Subscribe</h1>
    <p class="lead text-muted">Get the posts at it's latest by subscribing to our mailing list. Your email will only be used to send you post updates and will not be disclosed to any third parties. It is our privacy policy and promise.</p>
    <form class="form-inline" style="justify-content: center">
        <div class="form-group mb-2">
          <input type="email" class="form-control" id="subscribe-email" autocomplete="new-password" placeholder="Enter email" style="max-width:200px; margin-right: 10px;">
          
        </div>
        <button type="submit" class="btn btn-primary  mb-2">Subscribe</button>
      </form>
  </div>
</section>