header {
    margin: 40px 0px;
    p {
        font-size: 20px;
        font-weight: 300;
    }
}
.post-meta {
    margin-bottom: 10px;
    padding: 5px;
    .date {
        font-size: 14px;
        color: #888;
        
    }
    .category a {
        color: #888;
        font-size: 12px;
        font-weight: 400;
    }
}
p {
    font-size: 18px;
    &.text-muted {
        line-height: 1.2;
        font-weight: 300;
    }
}
